.cover {
  margin: 92px auto;
  max-width: 1184px;
  height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;

}

@media screen and (max-width: 1184px) {
  .cover {
    height: calc(100vw * .625);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px 0 64px; 
  }
}