.cover {
  margin: 92px auto;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px 0 64px; 
  }
}