.places__place {
  margin-bottom: 80px;
  display: grid;
  grid-template: 
  "title website" min-content 
  "image description" fit-content(460px) / fit-content(460px) auto;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .places__place {
  grid-template: 
  "title website" min-content 
  "image description" fit-content(calc(100vw / 2.3)) / fit-content(calc(100vw / 2.3)) auto;
  gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    margin-bottom: 73px;
    grid-template:
    "title website" min-content 
    "image description" fit-content(340px) / fit-content(340px) auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 425px) {
  .places__place {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}