.footer {
  max-width: 1184px;
  margin: 24px 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 24px;
    gap: 48px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    margin: 16px;
  }  
}