.places__website {
  display: flex;
  flex-direction: column;
  grid-area: website;
  align-self: flex-end;
}

@media screen and (max-width: 650px) {
  .places__website {
    align-self: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .places__website {
    margin-left: 16px;
  }
}